<div class="row">
  <div class="col-lg-12">
    <div class="chat-message-form">

      <%= form_for [commentable_parent, commentable, Comment.new] do |f| %>

        <div class="form-group">
          <%= f.text_area :content, class: "form-control message-input", placeholder: "Enter message text", data: {behavior: "autocomplete"} %>
        </div>
        <div class="text-center">
          <%= f.submit class: "btn-block btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
