<!-- Meta Data -->
<% title "Code Recipes" %>
<% set_meta_tags description: "CODElit(CODE literature) gives Recipes of different programming chunks and help codes." %>
<% set_meta_tags keywords: %w[recipes code online learning codelit literature casts blog ruby rails rubyonrails courses programming coding] %>
<% set_meta_tags canonical: recipes_url %>
<% set_meta_tags author: "http://www.sulmanbaig.com" %>
<% set_meta_tags publisher: "http://codelit.com" %>
<% set_meta_tags og: {
  title:    'Code Recipes | CODElit',
  type:     'website',
  url:      recipes_url,
  image:    image_url('logo.png'),
  description: "CODElit(CODE literature) gives Recipes of different programming chunks and help codes.",
  site_name: "CODElit",
  locale:   'en_US'
} %>
<% set_meta_tags twitter: {
  card: "summary",
  site: "@codelitweb",
  title: "Code Recipes | CODElit",
  image: image_url('logo.png'),
  description: "CODElit(CODE literature) gives Recipes of different programming chunks and help codes."
} %>
<% set_meta_tags fb: {
  app_id: "429015597309000"
  } %>
<% set_meta_tags icon: image_url('favicon.ico') %>
<!-- END Meta Data -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Recipes<span class="pull-right"><%= link_to '<i class="fa fa-rss-square"></i> Recipe Feed'.html_safe, feed_url(:rss), class: "btn btn-primary" %></span>
    </h2>
    <ol class="breadcrumb">

    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog">
  <div id="recipes">
    <div class="row page">
      <%= render @recipes %>
    </div>
  </div>
</div>
<%= paginate @recipes %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Test 1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9967381868474865"
     data-ad-slot="9865520438"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
