<br/>
<div class="jumbotron white-bg">
  <h1>About CODElit</h1>

  <p>CODElit (CODE literature) is a education platform with the tagline:
    <strong>"Learn Coding By Doing Projects".</strong></p>

  <p>This website is made by <strong><a href="http://www.sulmanbaig.com/" target="_blank">Sulman Baig</a></strong>.</p>

  <strong>Our Partners:</strong>
  <ul>
    <li>Scholarship Network
      (<a href="https://www.facebook.com/groups/scholarships.pk/" target="_blank">https://www.facebook.com/groups/scholarships.pk/</a>)
    </li>
  </ul>
  <strong>Services Collaborations:</strong>
  <ul>
    <li>WebAppLayers
      (<a href="https://wrapbootstrap.com/user/WebAppLayers" target="_blank">https://wrapbootstrap.com/user/WebAppLayers</a>)
    </li>
    <li>DigitalOcean (<a href="https://www.digitalocean.com/s" target="_blank">https://www.digitalocean.com/</a>)</li>
    <li>Braintree (<a href="https://www.braintreepayments.com/" target="_blank">https://www.braintreepayments.com/</a>)
    </li>
    <li>Vimeo, LLC (<a href="https://vimeo.com/" target="_blank">https://vimeo.com/</a>)</li>
    <li>embed.ly (<a href="http://embed.ly/" target="_blank">http://embed.ly/</a>)</li>
    <li>Amazon Web Services (<a href="https://aws.amazon.com/" target="_blank">https://aws.amazon.com/</a>)</li>
    <li>bitly.com (<a href="https://bitly.com" target="_blank">https://bitly.com</a>)</li>
    <li>Mandrill (<a href="http://mandrill.com/" target="_blank">http://mandrill.com/</a>)</li>
    <li>MailChimp (<a href="http://mailchimp.com/" target="http://mailchimp.com/">http://mailchimp.com/</a>)</li>
    <li>Zopim by Zendesk (<a href="https://www.zopim.com/?lang=en-us" target="_blank">https://www.zopim.com/</a>)</li>
    <li>Google Analytics
      (<a href="http://www.google.com/analytics/" target="_blank">http://www.google.com/analytics/</a>)
    </li>
    <li>Add This (<a href="http://www.addthis.com/" target="_blank">http://www.addthis.com/</a>)</li>
    <li>Disqus, Inc (<a href="https://disqus.com/" target="_blank">https://disqus.com/</a>)</li>
  </ul>

  <p>
    <strong>Follow Us or Contact Us</strong><br/>
    We are in startup phase. We welcome with open hearts positive suggestions and contributions. Please follow us and
    share us to the world.<br/>

  <div class="text-center">
    <a href="https://twitter.com/codelitweb" target="_blank" class="btn dim" style="background-color: #55acee; color: white;"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/codelit" target="_blank" class="btn dim" style="background-color: #3b5998; color: white;"><i class="fa fa-facebook fa-2x"></i></a>
    <a href="https://plus.google.com/109925438716138952461" target="_blank" class="btn dim" style="background-color: #d62d20; color: white;"><i class="fa fa-google-plus fa-2x"></i></a>
    <a href="https://www.pinterest.com/codelit/" target="_blank" class="btn dim" style="background-color: #bd081c; color: white;"><i class="fa fa-pinterest fa-2x"></i></a>
    <a href="https://www.youtube.com/channel/UCVFCKNzW6hxry-oA36r29ug" target="_blank" class="btn dim" style="background-color: #ee0f0f; color: white;"><i class="fa fa-youtube-play fa-2x"></i></a>
    <a href="https://medium.com/@sulman" target="_blank" class="btn dim" style="background-color: #32ff81; color: white;"><i class="fa fa-medium fa-2x"></i></a>
    <a href="mailto:codelit@hotmail.com" target="_blank" class="btn dim" style="background-color: #2c9ab7; color: white;"><i class="fa fa-envelope fa-2x"></i></a>
  </div>
  </p>
</div>
<br/>
