<div class="wrapper wrapper-content  animated fadeInRight article">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="text-center article-title">
            <h1>
              CODElit Privacy Policy
            </h1>
          </div>
          <!-- Content for privacy -->

          <h1>CODElit Privacy Policy</h1>

          <h2>Introduction</h2>

          <p>The <a href="https://codelit.com">https://codelit.com</a> website is committed to maintaining the accuracy, confidentiality, and security of your personally identifiable information (&quot;Personal Information&quot;). As part of this commitment, our privacy policy governs our actions as they relate to the collection, use and disclosure of Personal Information. </p>

          <p>Our privacy policy is based upon the values set by the Italian Standards Association&#39;s Model Code for the Protection of Personal Information and Italian’s Personal Information Protection and Electronic Documents Act.</p>

          <p>CODElit and the administration body established an online Project driven courses designed in which students learn coding while doing practical projects with us on <a href="https://codelit.com">https://codelit.com</a> website. Basically, it is an educational platform which includes courses that can be bought by the user(s) by credit cards and PayPal. Other than courses and code-casts can be used for Free as recreate and redistribute (MIT license). CODElit is committed to offering a secure and simplified service for all our students. Therefore, to perform optimally and deliver robust services, certain user-specific information is required to be processed.</p>

          <h2>CODElit Privacy Policy Statement</h2>

          <p>CODElit is responsible for maintaining and protecting the Personal Information under our control.</p>

          <p>We have designated an individual or individuals who is/are responsible for compliance with our privacy policy.</p>

          <p>By using or accessing <a href="https://codelit.com">https://codelit.com</a> website, you expressly consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy.</p>

          <h2>Identifying Purposes</h2>

          <p>We collect, use and disclose Personal Information to provide you with the details and the service you have requested and to offer you additional information or services we believe you might be interested in.</p>

          <p>The purposes for which we (CODElit) collect Personal Information will be identified before or at the time we collect the information. </p>

          <h2>Collection and Use of Personal Information</h2>

          <p>The purposes for which information is collected may be clear, and consent may be implied, such as where your: Full Name, Email Address, Password and payment information is provided as part of the registration process. </p>

          <p>CODElit may use your personal information for the following purposes: </p>

          <ul>
            <li>To verify your authorisation to access certain features of the <a href="https://codelit.com">https://codelit.com</a> website;</li>
            <li>To fulfil your programming requests;</li>
            <li>To personalise and customise the content and relevant coding tools for learning; </li>
            <li>To up-date you about CODE literature;</li>
            <li>To help us improve our services; and to provide reporting.</li>
          </ul>

          <p>If you provide us with personally identifiable data:</p>

          <ul>
            <li>We may share necessary data with other affiliate sites, so as to serve you in the most efficient and effective way unless such sharing is prohibited by law;</li>
            <li>For your convenience, we may also display to you data you had previously supplied us. </li>
          </ul>

          <p>This will speed up the transaction and save you the trouble of repeating previous submissions. Should the data be out-of-date, please supply us the latest data.</p>

          <h2>Consent</h2>

          <p>Knowledge and consent are required for the collection, use or disclosure of Personal Information except where required or permitted by law.</p>

          <p>Providing us with your Personal Information is always your choice. However, your decision not to provide certain information may limit our ability to provide you with our services.</p>

          <p>CODElit will not require you to consent to the collection, use, or disclosure of information as a condition to the learning or registration our website (<a href="https://codelit.com">https://codelit.com</a>), except as required being able to access some features on the site.</p>

          <h2>Limiting Collection</h2>

          <p>The Personal Information collected will be limited to those details necessary for the purposes identified by us.</p>

          <p>With your consent, we may collect Personal Information from you in person, over the telephone or by corresponding with you via mail, Facebook, or the Internet. </p>

          <h2>Limiting Use, Disclosure and Retention</h2>

          <p>Personal Information may only be used or disclosed for the purpose for which it was collected unless you have otherwise consented, or when it is required or permitted by law. Personal Information will only be retained for the period of time required to fulfil the purpose for which we collected it or as may be required by law. <em>If applicable, include a description of any parties with whom you may share Personal Information.</em></p>

          <h2>Accuracy</h2>

          <p>Personal Information will be maintained in as accurate, complete and up-to-date form as is necessary to fulfil the purposes for which it is to be used.</p>

          <h2>Safeguarding Customer Information</h2>

          <p>Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. CODElit takes all reasonable precautions to protect your Personal Information from any loss or unauthorised use, access or disclosure.</p>

          <h2>Openness</h2>

          <p>CODElit will make information available to you about our policies and practices with respect to the management of your Personal Information. </p>

          <h2>Customer Access</h2>

          <p>Upon request, you will be informed of the existence, use and disclosure of your Personal Information, and will be given access to it. You may verify the accuracy and completeness of your Personal Information, and may request that it be amended, if appropriate.</p>

          <p>However, in certain circumstances permitted by law, we will not disclose certain information to you. For example, we may not disclose information relating to you if other individuals are referenced or if there are legal, security or commercial proprietary restrictions. </p>

          <h2>Cookies</h2>

          <p>A cookie is a small computer file or piece of information that may be stored in your computer&#39;s hard drive when you visit our websites. CODElit may use cookies to improve our website’s functionality and in some cases, to provide customers with a customised online experience. </p>

          <p>Cookies are widely used and most web browsers are configured initially to accept cookies automatically. You may change your Internet browser settings to prevent your computer from accepting cookies or to notify you when you receive a cookie so that you may decline its acceptance. <em>Please note, however, if you disable cookies, you may not experience optimal performance of <a href="https://codelit.com">https://codelit.com</a> website.</em></p>

          <h2>Link to Other Websites</h2>

          <p>Our website may contain links to other third party websites that are not governed by <a href="https://codelit.com">https://codelit.com</a> privacy policy. Although CODElit endeavour to only link to sites with high privacy standards, our privacy policy will no longer apply once you leave our website.</p>

          <p>Additionally, CODElit are not responsible for the privacy practices employed by third party websites. Therefore, we suggest that you examine the privacy statements of those sites to learn how your information may be collected, used, shared and disclosed.</p>

          <h2>COPPA (Children Online Privacy Protection Act)</h2>

          <p>At <a href="https://codelit.com">https://codelit.com</a>, we do not intentionally obtain personal identifiable information from children under the age of thirteen (13) without verifiable parental consent. </p>

          <p>However, if it is determined that such information has been inadvertently obtained on anyone fewer than thirteen (13), we shall immediately take the necessary steps to ensure that such information is deleted from our system’s database.</p>

          <p><em>Anyone fewer than thirteen (13) must seek and obtain parent or guardian permission to use this website&nbsp;</em></p>

          <h2>Notification of Privacy Statement Changes</h2>

          <p>We may update this privacy statement to reflect changes to our privacy practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective.</p>

          <p>We encourage you to periodically review this page for the latest information on our privacy practices.</p>

          <h2>Additional Policy Information</h2>

          <p>To review, correct and update your personal information to ensure it is accurate, contact us at <a href="mailto:codelit@hotmail.com">codelit@hotmail.com</a></p>

          <h2>Our users opt-out rights</h2>

          <p>You can stop all collection of information by our database to not receive future communications or services. If you wish to do so, send us an e-mail requesting removal to opt-out at <a href="mailto:codelit@hotmail.com">codelit@hotmail.com</a>.</p>

          <h2>Acceptance of Terms</h2>

          <p>Through the use <a href="https://codelit.com">https://codelit.com</a>, you are hereby accepting the terms and conditions stipulated within the aforementioned Privacy Policy Agreements. If you are not in agreement with our terms and conditions, then you should refrain from further use of our sites. In addition, your continued use of our website following the posting of any updates or changes to our terms and conditions shall mean that you are in agreement and acceptance of such changes. </p>

          <h2>Privacy Contact Information</h2>

          <p>If you have any comment, suggestion or questions about this Privacy Policy, the practices of this site, or your dealings with <a href="https://codelit.com">https://codelit.com</a> website, please contact: <em>CODElit at <a href="mailto:codelit@hotmail.com">codelit@hotmail.com</a>, 216-C, ST#7, NFC Housing Society, WAPDA Town, Lahore, Pakistan, 54770. Contact Number +923344099626.</em></p>



          <!-- End for privacy -->
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

