<div class="wrapper wrapper-content  animated fadeInRight article">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <div class="text-center article-title">
            <h1>
              CODElit Terms and Condition of Use
            </h1>
          </div>
          <!-- Content for terms -->
          <h1>CODElit Terms and Condition of Use</h1>

          <h2>Introduction</h2>

          <p>This <a href="https://codelit.com">https://codelit.com</a> website is operated by {CODElit}. These terms “we”, “us”, and “our” refer to {CODElit}. The use of CODElit website is subject to the following terms and conditions of use, as amended from time to time (the “Terms”). These Terms and Conditions of Use are to be read diligently by you with any terms or disclaimers provided in the pages of our website. Please review the Terms carefully. </p>

          <p>The Terms apply to all users of <a href="https://codelit.com">https://codelit.com</a> website, including without limitation, users who are browsers, affiliate marketers, students, Scholars, merchants, vendors and/or contributors of content. If you access and use this website, you accept and agree to be bound by and comply with the Terms and our Privacy Policy.</p>

          <p>If you do not agree to these Terms and Conditions of Use or our Privacy Policy, you are not authorised to access <a href="https://codelit.com">https://codelit.com</a> website, use any of our website’s services or place an order on our website.</p>

          <h2>The Use of CODElit Website</h2>

          <p>You agree to use CODElit website for legitimate purposes and not for any illegal or unauthorised purpose, including without limitation, in violation of any intellectual property or privacy law. By agreeing to the Terms, you represent and warrant that you are at least the age of maturity in your state or province of residence and are legally capable of entering into a binding contract.</p>

          <p>You agree not to use <a href="https://codelit.com">https://codelit.com</a> site conduct any activity that would constitute a civil or criminal offence or violate any law. You agree not to attempt to interfere with our website’s network or security features or to gain unauthorised access to our systems. </p>

          <p>You agree to provide us with accurate personal information, such as your Full name, email address, password and other contact details in order to complete your registration process or contact you as needed. You agree to promptly update your account and information. You authorise us to collect and use this information to contact you in accordance with our Privacy Policy statement.</p>

          <h2>General Conditions</h2>

          <p>CODElit reserves the right to refuse service to anyone, at any time, for any reason. </p>

          <p>CODElit reserves the right to make any modifications to the website, including terminating, changing, suspending or discontinuing any aspect of the website at any time, without notice. We may impose additional rules or limits on the use of our website. You agree to review the Terms regularly and your continued access or use of our website will mean that you agree to any changes.</p>

          <p>You agree that CODElit will not be liable to you or any third party for any modification, suspension or discontinuance of our website or for any service, content, feature or product offered through our website.</p>

          <h2>User Registration or Site Access</h2>

          <p>Registration is not required to visit <a href="https://codelit.com">https://codelit.com</a>; however, you will need to register with us and create an account if you desire to use all of the Website’s services and features or to complete a transaction with us.</p>

          <p>If you register to open an account, you agree to provide accurate, complete registration information. You must be legally capable to enter into contracts. It is your responsibility to make any updates to that information. Each registration is for a single person only, unless specifically designated otherwise on the registration page. </p>

          <p>CODElit does not permit any other person using the registered sections under your name. You are responsible for preventing such unauthorised use. If you believe there has been unauthorised use, you should contact us at <a href="mailto:admin@codelit.com">admin@codelit.com</a>.</p>

          <h2>Provision of Services</h2>

          <p>At CODElit, we run and manage an incredibly, efficient and effective educational platform which includes courses that can be bought by the user by credit cards and PayPal. We put so many features for the student under one responsive platform tools, so that CODElit becomes one solution for all problems.</p>

          <p>On CODElit website, user(s) satisfaction is important to us and we ensure that each and every one is 100% satisfied with our courses. Our website is easy to use, quick, easy and affordable.</p>

          <h2>Right of Access</h2>

          <p>CODElit reserve the right to update or modify this <a href="https://codelit.com">https://codelit.com</a> website from time to time.</p>

          <p>CODElit reserve all rights to deny or restrict access to this <a href="https://codelit.com">https://codelit.com</a> website to any particular person, or to block access from a particular Internet address to this website, at any time, without ascribing any reasons whatsoever. </p>

          <p>However, without registration on <a href="https://codelit.com">https://codelit.com</a> website, user(s) can see for free BLOG, CODE-CASTS of the site, in CODE-CASTS; we put free small videos about solutions of problems faced during coding by users. User cannot see the LECTURES of COURSES until they buy them. Here at CODElit, user can login with FACEBOOK, and GOOGLE PLUS.</p>

          <p>You agree that you will not:</p>

          <ul>
            <li>Use any robot, spider, other automatic device, or manual process to monitor or copy any pages within this website or the Contents without CODElit’ prior written permission;</li>
            <li>Use any device, software or routine to interfere or attempt to interfere with the proper working of this website.</li>
          </ul>

          <p><strong><em>IMPORTANT NOTICE:</em></strong> </p>

          <ul>
            <li>CODElit and the administration body reserves the right to change our module of operation at any time; </li>
            <li>CODElit reserves the right to be able to terminate access to certain users, if these users abuse our website;</li>
            <li>Courses on our website contain the videos about some projects like how to make a landing page project. User of our website is assumed to do the steps we are doing in the video;</li>
            <li>We use DISQUS system for commenting about problems during lectures and the discussion forums; We use VIMEO as video outsourcing;</li>
            <li>Once user(s) buys the course then he/she will get life-time access to course including the updates in the COURSE;</li>
            <li>We still want to make it clear here that the content, logo, video or, visual design etc and trademarks are exclusive property of <a href="https://codelit.com">https://codelit.com</a> website. Unauthorised usage of these trademarks, for any purpose or in connection to a product or service not associated with CODElit is strictly prohibited.</li>
            <li>If you decide at any time that you no longer wish to receive such contact, announcements, information or offers, please follow the unsubscribe instructions provided in the communication or email us at <a href="mailto:admin@codelit.com">admin@codelit.com</a>.</li>
            <li>If you are interested in usage of any part of this website, you can request our consent by sending an email at <a href="mailto:admin@codelit.com">admin@codelit.com</a>.</li>
          </ul>

          <h2>Payment</h2>

          <p>Payment for our courses and code-casts are described on <a href="https://codelit.com">https://codelit.com</a> Website and are incorporated into these Terms by reference and CODElit reserves the right to change the Payment and courses at any time without any prior notice.</p>

          <p>This clause contains the default position for invoicing and payment. Any special terms should be put into the Schedule. Whichever way it goes, failure to leave payment may result in cancellation of services.</p>

          <h2>Payment processor</h2>

          <p>On <a href="https://codelit.com">https://codelit.com</a> website, the payment system we are using is BRAINTREE which allows payment trough the use of:</p>

          <ul>
            <li>PayPal</li>
            <li>Credit Card</li>
          </ul>

          <h2>Refund Policy</h2>

          <p>At CODElit, we are committed to providing you excellent service and helping you with courses that best suits your needs. However, if you are not satisfied with your purchase of our course, <strong><em>refund can only be done within 15 days of purchase of the course…otherwise, no refund will be made.</em></strong></p>

          <p>Please contact us on <a href="mailto:admin@codelit.com">admin@codelit.com</a> for refunding with the purchase reference number sent by email.</p>

          <p>If you have any question or, issue about our Returns and Refunds Policy, please contact us before putting a negative feedback through via our email at <a href="mailto:%20codelit@hotmail.com">codelit@hotmail.com</a>.</p>

          <h2>Disclaimer and Limitation of Liability</h2>

          <p>Each and every buyers of our products on our website assume all responsibility and risk with respect to your use of CODElit website, which is provided “as is” without warranties, representations or conditions of any kind, either express or implied, with regard to information accessed from or via our website, including without limitation, all content and materials, and functions and services provided on our website, all of which are provided without warranty of any kind, including but not limited to warranties concerning the availability, accuracy, completeness or usefulness of content or information, uninterrupted access, and any warranties of title, non-infringement, merchantability or fitness for a particular purpose.</p>

          <p>CODElit does not warrant that our website or its functioning or the content and material of the services made available thereby will be timely, secure, uninterrupted or error-free, that defects will be corrected, or that our websites or the servers that make our website available are free of viruses or other harmful components.</p>

          <p>The use of <a href="https://codelit.com">https://codelit.com</a> website is at your sole risk and you assume full responsibility for any costs associated with your use of our website. CODElit will not be liable for any damages of any kind related to the use of our website.</p>

          <p>In no event will CODElit, or our affiliates or their respective content or service providers, or any of our or their respective directors, officers, agents, contractors, suppliers or employees be liable to you for any direct, indirect, special, incidental, consequential, exemplary or punitive damages, losses or causes of action, or lost revenue, lost profits, lost business or sales, or any other type of damage, whether based in contract or tort (including negligence), strict liability or otherwise, arising from your use of, or the inability to use, or the performance of, our website or the content or material or functionality through our website, even if CODElit are advised of the possibility of such damages.</p>

          <p>Certain jurisdictions do not allow limitation of liability or the exclusion or limitation of certain damages. In such jurisdictions, some or all of the above disclaimers, exclusions, or limitations, may not apply to you and our liability will be limited to the maximum extent permitted by law. </p>

          <h2>Indemnification</h2>

          <p>You agree to defend and indemnify CODElit, and hold CODElit and our affiliates harmless, and our and their respective directors, officers, agents, contractors, and employees against any losses, liabilities, claims, expenses (including legal fees) in any way arising from, related to or in connection with your use of our website, your violation of these Terms, or the posting or transmission of any materials on or through the website by you, including but not limited to, any third party claim that any information or materials provided by you infringe upon any third party proprietary rights.</p>

          <h2>Waiver</h2>

          <p>CODElit failure to exercise or enforce any right or provision of these Terms and Conditions of Use will not constitute a waiver of such right or provision. A waiver by us of any default will not constitute a waiver of any subsequent default. No waiver by us is effective unless it is communicated to you in writing.</p>

          <h2>Liability or Consequential Loss</h2>

          <ul>
            <li>Under no circumstances will CODElit and the administration body be responsible or liable for financial or other loss or damage caused by the failure or use or misuse of our website;</li>
            <li>If maintenance contract is signed then CODElit and the administration body will ensure that data on their site is regularly backed up manually and that a contingency plan is in place to minimise possible losses as a result of software failure.</li>
            <li>Unfortunately malicious software, spy-ware, viruses and website hacking are common threats and CODElit and the administration body cannot be held responsible for problems that develop on completed sites as a result of such illegal activity.</li>
          </ul>

          <h2>Force Majeure</h2>

          <p><a href="https://codelit.com">https://codelit.com</a> will not accept any responsibility or liability in regards to failure to perform its obligation, including obligations cited under these terms of Use, caused by Force Majeure i.e. external forces beyond our control, which include but are not limited to terrorism, natural disasters, strikes or, electricity failures.</p>

          <p>In such cases, the agreement between CODElit and the user will be cancelled and any payment made will be refunded.</p>

          <h2>Terms of Service Changes</h2>

          <p>These Terms of Use may change from time to time. Our customers will be informed of revisions as and when they are issued. </p>

          <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect as indicated above. What constitutes a material change will be determined at our sole discretion.</p>

          <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service. </p>

          <p>However, for any material changes to these Terms and Conditions of Use, CODElit must notify users in advance. In view of this, we provide 30 days notice (recommended) before the new Terms of Service become effective.</p>

          <h2>Governing Law and Jurisdiction</h2>

          <p>These Terms shall be governed and construed in accordance with the law of Italy without regard to its conflict of law provisions.</p>

          <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect.</p>

          <h2>For Questions or Comments, Contact Us</h2>

          <p>If you have any questions, concerns, comments or complaints regarding this Terms and Conditions of Use and/or our collection or use of personal information, or if you wish us to stop processing your personal information for any particular purpose or purposes or, you want to learn more about courses and up-date on our website contact us today: <em>CODElit at <a href="mailto:admin@codelit.com">admin@codelit.com</a>, 216-C, ST#7, NFC Housing Society, WAPDA Town, Lahore, Pakistan, 54770. Contact Number +923344099626.</em></p>



          <!-- End for content -->
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
