<td></td>
<td class="container" width="600">
  <div class="content">
    <table class="main" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="alert alert-good">
          Congratulation on Completing "<%= @course.title %>"
        </td>
      </tr>
      <tr>
        <td class="content-wrap">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                Hello <strong><%= @user.name %></strong>,
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Very congratulation on completing the course.
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Please feel free to contact us in case of some query or suggestions.
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Thanks for being with us in this course.
              </td>
            </tr>
            <tr>
              <td class="aligncenter content-block">
                <a href="mailto:codelit@hotmail.com" class="btn btn-primary">codelit@hotmail.com</a>
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Thanks for choosing CODElit.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</td>
<td></td>