<td></td>
<td class="container" width="600">
  <div class="content">
    <table class="main" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="alert alert-good">
          Welcome To CODElit
        </td>
      </tr>
      <tr>
        <td class="content-wrap">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                Hello <strong><%= @user.name %></strong>,
              </td>
            </tr>
            <tr>
              <td class="content-block">
                First of all, thanks for becoming the part of CODElit family.
                <strong>I am Sulman Baig, founder of CODElit</strong>. I have been programming for 7 years. And
                through this platform I want to help other wanna be programmer to become one without the boring
                hinders of code through which I went.
              </td>
            </tr>
            <tr>
              <td class="content-block">
                For now, we are in a startup phase of our to-be of million family. We appreciate your interest in
                this startup and I will see it personally that you get the most out of CODElit as a programmer
                should be.
              </td>
            </tr>
            <tr>
              <td class="content-block">
                In case of some problem. Please feel free to contact us through CODElit website in community or
                directly email us by clicking on following link:
              </td>
            </tr>
            <tr>
              <td class="aligncenter content-block">
                <a href="mailto:admin@codelit.com" class="btn btn-primary">admin@codelit.com</a>
              </td>
            </tr>
            <tr>
              <td class="content-block">
                I will personally get back to you as soon as possible.
              </td>
            </tr>
            <tr>
              <td class="content-block">
                Thanks for choosing CODElit.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</td>
<td></td>
