Welcome To CODElit,

Hello <%= @user.name %>,

First of all, thanks for becoming the part of CODElit family.
I am Sulman Baig, founder of CODElit. I have been programming for 7 years. And
through this platform I want to help other wanna be programmer to become one without the boring
hinders of code through which I went.

For now, we are in a startup phase of our to-be of million family. We appreciate your interest in
this startup and I will see it personally that you get the most out of CODElit as a programmer
should be.

In case of some problem. Please feel free to contact us through CODElit website in community or
directly email us by clicking on following link:
<a href="mailto:admin@codelit.com" class="btn btn-primary">admin@codelit.com</a>

I will personally get back to you as soon as possible.

Thanks for choosing CODElit.
