<!-- Meta Data -->
<% title "Code Casts" %>
<% set_meta_tags description: "CODElit(CODE literature) gives Casts of different programming chunks and help videos." %>
<% set_meta_tags keywords: %w[code online learning codelit literature casts blog ruby rails rubyonrails courses programming coding] %>
<% set_meta_tags canonical: casts_url %>
<% set_meta_tags author: "http://www.sulmanbaig.com" %>
<% set_meta_tags publisher: "http://codelit.com" %>
<% set_meta_tags og: {
  title:    'Code Casts | CODElit',
  type:     'website',
  url:      casts_url,
  image:    image_url('logo.png'),
  description: "CODElit(CODE literature) gives Casts of different programming chunks and help videos.",
  site_name: "CODElit",
  locale:   'en_US'
} %>
<% set_meta_tags twitter: {
  card: "summary",
  site: "@codelitweb",
  title: "Code Casts | CODElit",
  image: image_url('logo.png'),
  description: "CODElit(CODE literature) gives Casts of different programming chunks and help videos."
} %>
<% set_meta_tags fb: {
  app_id: "429015597309000"
  } %>
<% set_meta_tags icon: image_url('favicon.ico') %>
<!-- END Meta Data -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Code Casts</h2>
    <ol class="breadcrumb">

    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog">
  <div id="blogs">
    <div class="row page">
      <%= render @casts %>
    </div>
  </div>
</div>
